<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.springboot.kakao.mapper.NoticeDao">
	<select id="getNoticeListAll" resultType="com.springboot.kakao.model.dto.NoticeDto">
		select
			notice_code,
			notice_title,
			notice_writer,
			notice_date,
			notice_count,
			NULL,
			'0'
		from 
			notice_mst
		order by
			notice_code desc
	</select>
	<select id="getNoticeMaxCode" resultType="Integer">
		select
			max(notice_code)
		from
			notice_mst;
			
	</select>
	<insert id="noticeMstInsert" parameterType="com.springboot.kakao.model.dto.NoticeDto">
		insert into
			notice_mst
		values(
			#{notice_code},
			#{notice_title},
			#{notice_writer},
			now(),
			0,
			now(),
			now()
		)
	</insert>
	<insert id="noticeDtlInsert" parameterType="com.springboot.kakao.model.dto.NoticeDto">
		insert into
			notice_dtl
		values(
			#{notice_code},
			#{notice_content},
			#{originFileNames},
			#{tempFileNames},
			now(),
			now()
		)
	</insert>
	<select id="getNotice" resultType="com.springboot.kakao.model.dto.NoticeDto">
		SELECT
			ROW_NUMBER() over(ORDER BY nn.notice_code, np.notice_code desc) AS num,
			nm.notice_code,
			nm.notice_title,
			nm.notice_writer,
			nm.notice_date,
			nm.notice_count,
			nd.notice_content,
			nd.originFileNames,
			nd.tempFileNames,
			nn.notice_code AS nextNotice_code,
			nn.notice_title AS nextNotice_title,
			np.notice_code AS preNotice_code,
			np.notice_title AS preNotice_title
		FROM
			notice_mst nm 
			LEFT OUTER JOIN notice_dtl nd ON(nd.notice_code = nm.notice_code) 
			LEFT OUTER JOIN notice_mst nn ON(nn.notice_code &gt; nm.notice_code)
			LEFT OUTER JOIN notice_mst np ON(np.notice_code &lt; nm.notice_code)
		WHERE 
			nm.notice_code = #{notice_code}
		LIMIT
			1;
	</select>
	
	<update id="plusNoticeCount">
		update
			notice_mst
		set
			notice_count = notice_count + 1
		where 
			notice_code = #{notice_code};
	</update>
	<delete id="noticeMstDelete">
		delete
		from
			notice_mst
		where
			notice_code = #{notice_code};
	</delete>
	
	<update id="noticeUpdate" parameterType="com.springboot.kakao.model.dto.NoticeDto">
		update
			notice_dtl
		set
			notice_content = #{notice_content},
			originFileNames = #{originFileNames},
			tempFileNames = #{tempFileNames},
			update_date = now()
		where
			notice_code = #{notice_code};
	</update>
	
	<delete id="noticeDtlDelete">
		delete
		from
			notice_dtl
		where
			notice_code = #{notice_code};
	</delete>
</mapper>